SERVERPORT = ('chat.freenode.net', 6697)
SSL = True
USERNAME = 'herbert'
NICK = 'i-am-a-bot'
GECOS = 'Test Bot'
SASL_USERNAME = 'herbert-bot'
SASL_PASSWORD = 'asdasdasdasd'
JOIN = ['#botters-test-junk']
WEATHER_API_KEY = 'my-awesome-api-key'
